.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }

  .active {
    display: block;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
  }

  body,h1,h2,h3,h4,h5,h6,p {font-family: "Verdana", sans-serif}
        .w3-bar-block .w3-bar-item {padding:20px}

      